@media(max-width: 1540px) {
    .h-label {
        position: absolute;
        left: 71px;
        top: 172px;
        bottom: 17px;
        width: 50%;
    }

    #why-us {
        overflow: hidden;
    }

    .overlay-img {
        position: absolute;
        left: 23px;
        width: 100%;
    }



    .container1 {
        max-width: 1200px;
        margin: auto;
    }

    .why-us-bx>div h1 {}

    .specil-bx {
        padding-top: 16px;
        z-index: 1000;
        position: relative;
    }

}

@media(max-width: 1440px) {
    .container1 {
        max-width: 1280px;
    }

    .container {
        max-width: 1280px;

    }

    .bdt-timeline-container {

        max-width: 1300px;

    }

    footer {
        max-width: 1280px;
    }

    .h-label {
        position: absolute;
        left: 24px;
        top: unset;
        bottom: 0;
        width: 59%;
    }

    .e-label {
        position: absolute;
        left: 14px;
        top: unset;
        bottom: 10px;
        width: 44%;
    }

    .p-label {
        position: absolute;
        left: 15px;
        top: unset;
        bottom: 10px;
        height: unset;
    }

    .r-label {
        position: absolute;
        left: 63px;
        top: unset;
        bottom: 10px;
        width: 32%;
    }

    .hero-content1 {
        padding: 20px;
        width: 62%;
    }

    .contianer1 {
        max-width: 1100px;
    }

    h2.our-brands {

        font-size: 60px !important;
    }

    .hero-section-2 {
        background-position: center !important;
    }
}


@media(max-width:1250px) {
    .bdt-timeline-container {

        max-width: 1140px;

    }

    .container1 {
        max-width: 1140px;
    }

    .container {
        max-width: 1140px;

    }

    footer {
        max-width: 1140px;
    }

    .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
        top: 50% !important;
        left: 23px;
        max-width: 460px;
        padding-left: 30px !important
    }
}


@media(max-width: 1024px) {

    div#our-specialization {
        height: 59vh;
    }

    .bdt-timeline-container {

        max-width: 900px;

    }

    .container1 {
        max-width: 900px;
    }

    .container {
        max-width: 900px;

    }
}

@media(max-width:980px) {

    .padding-top-0 {
        padding-top: 0;
    }

    #why-us {

        height: auto;
    }

    .tab-listbx {
        height: fit-content;
        padding: 0;
    }

    image {
        max-width: 100%;
        height: auto;
    }

    .layer1>div {
        width: 100%;
        position: relative;
        padding-top: 30px;
    }


    .navbar-nav a {
        padding: 23px 0px !important;
        line-height: 0px;
        overflow: unset;
        font-size: 16px !important;
        font-weight: bold;
    }

    .menu-show img {
        display: block !important;
        width: 40px;
    }

    .specil-bx {
        padding-top: 14px;
        z-index: 0;
        padding-bottom: 16px;
    }

    div#our-specialization {
        height: auto;
        margin-top: 100px;
    }

    .get-freebx>div h2 {
        font-size: 22px;
    }

    a.book-btn {
        padding: 5px 37px;

    }

    .img-content {
        color: white;
        z-index: 1;
        padding-left: 9px;
        height: fit-content !important;
        position: absolute;
        bottom: 0;
        padding-bottom: 15px;
    }

    h1.m-heading {
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .whyimg {
        height: 50px;
    }

    .lst {
        margin-top: 100px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .container1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media(max-width: 768px) {

    .wwr1-slider .swiper-slide{
        margin-top:30px;
        width:100%!important;
    }
    .ux-section .swiper-button-prev{
        display: none;
    }
    .ux-section .swiper-button-next{
        display: none;
    }
    .industry-overlay a {
        font-size: 23px;
    }

    .upk-salf-image-wrap img{
        width:100%;
    }

    .upk-salf-content-wrap {
        left: -10px;
        top: 8%;
        background: none;
        backdrop-filter: none;
    }

    .swiper-slide.upk-salf-item{
        width: 100%;
    }
    #e-services{
        height: 150px!important;
    }

    .swiper-slide.upk-salf-item{
        margin-left: 0;
      }
      .bdt-timeline-container{
        padding:0;
      }
.mob-container{
    padding: 0!important;
}
    .max-width100 {
        text-align: justify !important;
    }

    .list-styled {
        padding-left: 15px !important;
    }

    .p-label {
        position: relative;
        left: unset;
        top: 0px !important;
        width: 100%;
        height: unset;
    }

    .e-commerce-img .f-label {
        position: inherit;
        left: unset;
        top: -68px;
        bottom: unset;
        margin: auto;
        /* height: 100%; */
        width: 76%;
    }

    .unlock-section-bx .pl-4 {
        padding: 0 !important;
    }

    .significance-section1>div img {
        width: 44px;
    }

    .email-action .action-content {
        position: unset !important;

    }

    .unlock-section-bx1 {
        padding: 0;
    }

    .unlock-section-bx1 .col-md-6 {
        /* padding:0; */
    }

    .padding-top-m {
        padding-top: 15px !important;
    }

    section.significance-section {
        padding-bottom: 20px;
    }

    #marketings {
        overflow: hidden;
    }

    .seo .container {
        padding: 0;
    }

    .max-width800 .col-md-6 {
        padding: 0 !important;
    }

    .header:hover .navbar .menu-1 .navbar-nav .nav-item .nav-link {
        color: black !important;
    }

    .w-4s50 {
        width: 100%;
    }

    #marketings .navbar-nav .nav-item>a {
        color: #000000 !important;
        text-shadow: unset;

    }

    header {
        background: transparent;
        z-index: 10000;
        color: black;
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 37vh;
        object-position: left;
    }

    .digital-hero {
        /* height: 251px; */
    }

    .mega-list {
        pointer-events: unset !important;
    }

    .welcom-para {
        font-size: 17px !important;
        font-weight: bold;
        text-align: justify;
        padding-top: 15px;
    }

    .our-work-active .active {
        background: #f0621c !important;
        /* padding: 0; */
        width: 100%;
        display: block;
        padding: 2px 10px !important;
        text-align: center;
    }

    .action-content p b {
        font-size: 22px;
    }

    .wwr-slider {
        margin-top: 35px !important;
    }

    .industry-overlay {
        bottom: 50px!important;
        left: 15px;
        max-width: 300px;
    }

    .upk-salf-slider-wrapper {
        height: 300px !important;

    }

    .upk-salf-title {
        color: white !important;
        font-size: 20px !important
    }

    .link--arrowed {
        display: none !important;
    }

    .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
        position: absolute;
        left: 5% !important;
        top: 10% !important;
        top: unset;
        max-width: unset;
        overflow: hidden;
        background: none;
        color: white !important;
        -webkit-backdrop-filter: unset;
        backdrop-filter: none;
        transition: none;
        padding: 20px;
        padding-left: 20px;
    }

    .upk-salf-desc {
        display: none;
    }


    .upk-salf-slider-wrapper .upk-salf-item .upk-xanc-img {
        display: block;
        width: auto !important;
        height: auto;
        object-fit: cover !important;
    }

    .desk-none {
        display: block !important;
    }

    .sm-none {
        display: none !important;
    }

    .bdt-timeline-container {

        z-index: -1;
        position: relative;

    }

    .business-enquiry {

        z-index: 3;
    }

    .social-bx1 {
        z-index: 1;
    }

    .shapebx {
        z-index: 1;
    }

    .studies-btn a {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        z-index: 1;
    }


    .dropdown-menus {
        position: absolute;
        top: unset;
        width: 100%;
        /* left: 0; */
        right: unset;

    }

    .sub-mega-menu {
        width: 100%;
    }

    .design-mega-menu {
        display: none;
    }

    .mega-list li a i {
        display: none;
    }

    .mega-list {
        position: relative;
        border-bottom: 1px solid #ddd;
    }

    .mega-list::before {
        content: '';
        position: absolute;
        top: 50%;
        height: 10px;
        width: 10px;
        background: black;
        right: 10px;
        clip-path: polygon(0 3%, 0 0, 100% 0, 100% 0, 50% 59%);
    }

    .digital-mega-menu {
        display: none;
    }

    .dropdown:hover .dropdown-menus1 {
        transition: unset;
    }

    .strategy-mega-menu {
        display: none;
    }

    .dropdown-menus1>div {
        width: 100%;
        box-shadow: unset;
    }

    .dropdown-menus1 {
        position: absolute;
        width: 100%;
        display: block;
        top: unset;
        left: unset;
        right: unset;
        padding: 0;
        flex-wrap: wrap;
        /* visibility: hidden; */
        /* opacity: 0; */
        z-index: 100;
        background: white;
    }

    .sub-dropdown-main {
        display: none;
    }

    .navbar {
        position: unset;
        /* z-index: 100000; */
    }

    .after-nav {
        position: relative;
    }

    .after-nav::before {
        content: '';
        position: absolute;
        top: 50%;
        height: 10px;
        width: 10px;
        background: black;
        right: 10px;
        clip-path: polygon(0 3%, 0 0, 100% 0, 100% 0, 50% 59%);
    }

    .inputtextarea {
        height: 150px;
    }

    .contact-usbx .p-3 {
        padding: 10px !important;
    }

    .margin-top-25 {
        margin-top: 25px !important;
    }

    .checkbox-range {
        margin-left: 10px;
    }

    .pr-range {
        margin-left: 5px;
        font-size: 15px;
        font-weight: 600;
    }

    .contact-usbx h2 {
        font-size: 18px !important;
        padding-bottom: 16px;
        text-align: center;
    }

    .margin-top-30 {
        margin-top: 30px;
    }

    .blogbx {

        padding-bottom: 20px;
    }

    #search-container {

        padding-top: 15px;
    }

    .positionbx {
        border-bottom: 2px solid #ddd;
        margin-top: 0px;
    }

    .our-work-bx {

        padding-bottom: 30px;
    }

    #exTab1 .our-work-tab .nav {
        overflow: unset;
        overflow: scroll;
        display: flex;
        width: 100%;
        /* flex-wrap:wrap; */
        align-items: center;
    }

    #exTab1 .our-work-tab .nav li {
        margin: 0px 5px;
        padding: 3px;
        width: 100%;
        border-right: 1px solid white;
        background: black;
        margin-top: 10px;
        color: white;
    }

    #exTab1 .our-work-tab .nav li a {
        color: white !important;
    }

    .our-work-tab>div {
        margin: 0 !important;
    }

    .p-bottom-0 {
        padding-bottom: 0 !important;
    }

    .p-label {
        position: relative;
        left: unset;
        top: 77px;
        margin: auto;
        width: 100%;
        height: unset;
    }

    .e-label {
        position: relative;
        left: unset;
        top: -61px;
        bottom: unset;
        width: 100%;
    }

    .r-label {
        position: relative;
        left: unset;
        top: -8px;
        bottom: unset;
        margin: auto;
        width: 78%;
    }

    .col-md-6.tab-listbx1 {
        padding: 20px;

        padding-bottom: 20px;

    }

    .hero-content1 p {
        text-align: justify;
    }

    .h-label {
        position: relative;
        left: 12%;
        top: 4px;
        bottom: unset;
        width: 103%;
        /* margin: auto; */
    }

    .it-section .b-label {
        position: relative;
        left: 13px;
        top: 0px;
        /* margin-left: auto; */
        height: auto;
        width: 91%;
    }

    .hero-img2 {
        position: absolute;
        right: 0;
        width: 100%;
        height: unset;
        bottom: 0;
    }

    .padding-bottom-15 {
        padding-bottom: 15px !important;
    }

    #banking-finance .swiper-pagination {

        left: 0% !important;

        bottom: 0% !important;

        top: unset !important;
    }

    .f-label {
        position: inherit;
        left: unset;
        top: 13px;
        bottom: unset;
        /* height: 100%; */
        margin: auto;
        width: 77%;
    }

    .hero-content1 {
        padding: 20px;
        width: 100%;
    }

    .hero-img1 {
        width: 100%;
        height: unset;
        /* position: relative; */
    }

    .stick-img1 {

        display: none;
    }

    #banking-finance .hero-section-2 {

        min-height: 100vh;

        padding-bottom: 0px;
    }

    #exTab1 {
        overflow: hidden;
    }

    .t-list p {
        margin-top: 11px;
        text-align: justify;
    }

    #banking-finance .section {
        padding-top: 0;
        flex-wrap: wrap;
    }

    .hero-content {
        padding: 20px;
        width: 100%;
    }

    .stick-img {

        display: none;
    }

    #exTab1 .nav li {
        margin: 0px 0px;
        padding: 2px;
        width: 100%;
    }

    .b-label {
        position: relative;
        left: 48px;
        top: -98px;
        bottom: 10px;
        height: auto;
        width: 58%;
    }

    .tab-head {

        padding-top: 5px;
    }

    #exTab1 .nav {
        padding-left: 0;
        display: block;
    }

    .banking-bx {
        margin-top: 0;
    }

    .logo-bx-container {
        flex-wrap: wrap
    }

    section.logo-footer {

        margin-left: 15px;
        margin-right: 15px;
    }

    .main-logo-bx {

        flex-wrap: wrap;
    }

    .logo-bx-container>div {
        width: 100%;
        padding-left: 0;
    }


    .swiper-button-next2 {
        display: none;
    }

    .swiper-button-prev2 {
        display: none;
    }

    #brochure-design .our-methodology>div {
        width: 100%;
        height: auto;

    }

    .under-r-content {
        padding-top: 15px;
    }

    .ux-section {
        position: relative;
        margin-bottom: 29px;
        background: #000;
        padding: 30px 0 25px;
        height: fit-content;
    }




    .slider-row-content {
        padding-top: 30px;
        padding-bottom: 24px;
    }

    .footer-ux-con {
        height: auto;
    }

    .slider-row {
        flex-wrap: wrap;
        padding-top: 0;
    }

    .slider-row>div {
        width: 100%;
    }

    .slider-row-img img {
        width: 100%;
    }

    .ui-conent .mdtop {
        margin-top: 20px;
    }

    .ui-ux-sbx {
        flex-wrap: wrap;
    }

    .ui-ux-services {
        height: auto;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .ui-conent {
        padding-top: 29px;
    }

    .main-ui-bx {
        flex-wrap: wrap;
    }

    .mt-reverse {
        margin: 0;
    }

    .first-ui-bx {
        width: 100%;
    }

    .ui-ux-sbx>div {
        width: 100%;
        padding-left: 0
    }

    .our-way-bx {
        flex-wrap: wrap;
        padding-top: 25px;
    }

    .our-way-bx>div {
        width: 100%;
        margin-top: 15px;

    }

    .why-ui-ux {
        margin-top: 30px;
    }

    .our-way {
        padding-top: 30px;
        margin-top: 0px;
        padding-bottom: 40px;
    }

    #design .our-methodology>div {
        width: 100%;
        height: fit-content !important;

    }

    .de-hero1 {
        flex-wrap: wrap-reverse;
        margin-top: 20px;
    }

    .de-hero-content {
        padding-top: 30px;
    }

    .de-hero1>div {
        width: 100%;
    }

    .de-hero-content .mdtop {
        margin-top: 27px !important;
    }

    .design-hero {
        padding: 0px 0 0px;
        height: unset;
    }

    .make-happen1 {
        padding-top: 40px;
        padding-bottom: 0px;
        margin-top: 0 !important;
    }

    .unlock-section {

        padding-bottom: 25px;

        padding-top: 2px;

        margin-bottom: 0px;
    }

    .unlock-section-bx2 {
        flex-wrap: wrap;
    }

    .unlock-section-bx2>div {
        width: 100%;
    }

    .explore-section {
        padding-top: 40px;
        margin-top: 25px;
        padding-bottom: 40px;
    }

    .unlock-section-bx2>div img {
        width: 100% !important;
    }

    .unlock2 {
        margin-top: 20px;
    }

    .swiper-button-next1 img {
        width: 35px;
    }

    .swiper-button-prev1 img {
        width: 35px;
    }

    .unlock-section-bx {
        flex-wrap: wrap;
        padding: 0;
    }

    .unlock-section-bx>div {
        width: 100%;
        margin-top: 15px;
    }

    .unlock-section-bx>div img {
        width: 100% !important;
    }

    .making-happen .action-content1 {
        height: 193px !important;
        top: 0px;
    }

    .margin-top-100 {
        margin-top: 103px;
    }

    .core-task-bx>div {
        width: 100%;

    }

    .action-content {
        left: 0;
        top: 0;
        position: unset;
    }

    .margin-top-25 {
        margin-top: 25px;
    }

    .seo {
        background: #ffffff12;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .margin-top-15 {
        margin-top: 15px !important;
    }

    .unlock-section-bx1 {
        display: flex;
        flex-wrap: wrap;
    }

    .unlock-section-bx1>div {
        width: 100%;
    }

    .unlock-section-bx1>div img {
        width: 100%;
    }

    .mob-img {
        width: 100%;
        margin-top: 20px;
    }

    .seo-slider .swiper-slide {
        width: 100% !important;
        margin: 0 !important;
    }

    .our-methodology>div {
        width: 100%;
        height: unset;
        margin-left: 0;

    }

    .left-itemss {
        padding: 2px;
        margin-left: 0px !important;
    }

    .signi-left-itemsbxx {

        height: unset;

        padding-bottom: 20px;
    }

    .signi-container {

        flex-wrap: wrap;
    }

    .signibx2 {
        width: 100%;
        padding-top: 9px;
    }

    .signibx1 {
        width: 100%;
        margin: 0;
        text-align: center;
        height: unset;
        padding: 25px;
        margin-bottom: 20px;
    }

    .core-section1 {
        margin-top: 50px;
    }

    .make-happen {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .shape-img-bx img {
        width: 100% !important;
        margin-top: 15px;
    }

    .solid-social-bx5 {
        display: flex;
        flex-wrap: wrap;
    }

    .solid-section {
        padding-bottom: 0px;
        padding-top: 21px;
    }

    .solid-social-bx5>div {
        width: 100%;

    }

    .action-content1 {
        height: 225px;
        top: 0px;
    }

    .action-slider .swiper-pagination {
        left: -0% !important;
        top: 109% !important;
    }

    .prev-next {
        position: absolute;
        display: flex;
        right: 10%;
        display: none;
        bottom: -24%;
    }

    .left-slider {
        padding: 0;
        height: 214px;
        position: relative;
        margin-top: 20px;
        left: 0;
    }

    .left-items11 {
        text-align: center;
    }

    .margin-top-15 {
        margin-top: 15px !important
    }

    .signibx22 {
        flex-wrap: wrap;
    }

    .signibx22>div {
        width: 100%;
    }

    .corecont {
        align-items: center;
        display: flex;
        flex-flow: column-reverse;
    }

    .core-underbx>div h3 {
        font-size: 20px;
        max-width: unset;
        text-align: center;
        padding-top: 15px;
    }


    article.accordion {
        width: 100%;

    }

    .max-width100 {
        /* text-align: justify!important; */
    }

    article.accordion section:target {
        width: 100%;
        padding: 0;
        height: fit-content;
    }

    .margin-top-15 {
        margin-top: 15px !important;
    }

    .margin-bottom-15 {
        margin-bottom: 15px !important
    }

    section.paid-media {

        padding-top: 25px !important;

        padding-bottom: 25px !important;

        margin-top: 0;
    }

    .w-350 {
        width: 100%;
    }

    .main-heading {
        padding-top: 0px !important;
    }

    #marketings .section {
        height: 291px !important;
        z-index: 1;
    }

    .social-bx5 {
        display: flex;
        flex-wrap: wrap;
    }

    .f-bx5 .left-itemsbxx {
        height: unset !important;
    }

    .choose-section {
        padding-top: 15px;
    }

    .harnessing-section {
        padding-top: 20px;
        background: #fefff0;
        padding-bottom: 20px;
    }

    .text-justi {
        text-align: justify !important;
    }

    .mob-container {
        padding: 0 !important;
    }

    .ssm-slider .swiper-slide {
        width: 100% !important;
    }

    .ssm-img {
        width: 100%;
    }

    .social-m-section .container {
        padding-left: 0;
        padding-right: 0;
    }

    .main-info {
        height: unset;
        right: unset;
        top: unset;
        transform: translateY(0%);
    }

    .social-m-section {
        height: unset;
    }

    .main-img {
        height: unset;
        position: absolute;
        left: 0;
        top: unset;
        transform: translateY(0%);
    }

    .layer1 {
        display: flex;
        flex-wrap: wrap;
    }

    .tech-consulting ul.inforgrahic-block li,
    ul.inforgrahic-block li {
        margin-bottom: 20px;
    }

    .tech-consulting ul.inforgrahic-block li.bottom>div {
        padding: 0 0 15px;
        margin-top: 0px;
    }

    .tech-swiper .tech-img img {
        margin-top: 15px;
        height: 200px;
    }

    .agile {
        padding-bottom: 0px;
    }

    ul.inforgrahic-block li.top:after {
        display: none;
    }

    ul.inforgrahic-block li.bottom:after {
        display: none;
    }

    ul.inforgrahic-block {
        flex-direction: row;
        flex-wrap: wrap;
    }

    ul.inforgrahic-block li:nth-child(2n+2) {
        flex-direction: column;
        justify-content: center;
    }

    ul.inforgrahic-block li,
    .tech-consulting ul.inforgrahic-block li {
        flex: 0 0 100%;
    }


    .why-para {
        text-align: justify;
    }

    .margin-top {
        margin-top: 0 !important;
    }

    .tech-img img {
        margin-top: 15px;
        height: 256px;
    }

    .bottom-0 {
        padding-bottom: 0 !important;
    }

    ul.cv-list {
        margin-top: 20px;
        padding-left: 15px;
    }

    .padding-top-15 {
        margin-top: 15px !important;
    }

    .t-cbx {
        padding-top: 15px !important;
    }

    .line {
        margin-bottom: 15px;
    }

    .explore-btn {
        margin-top: 20px;
    }

    #technology-consulting .swiper-pagination {
        top: 84%;
    }

    #technology-consulting .swiper {
        height: unset !important;
    }

    .r-img1 {
        padding: 0 !important;
    }

    .padding-0 {
        padding: 0 !important;
    }

    .r-img1 img {
        width: 100% !important;
        float: right;
        box-shadow: unset !important;
        border-width: unset !important;
    }

    .padding-left-0 {
        padding-left: 0 !important;
    }

    div#subscribe {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .padding-top-25 {
        padding-top: 25px !important;
    }

    #what-we-do .col-md-6 img {
        padding: 0px;
        border-width: unset !important;
        /* margin-bottom: 0!important; */
        box-shadow: unset !important;
        height: auto;
    }

    .m-none {
        display: none;

    }

    .m-block {
        display: block;
    }

    .bdt-timeline-container {
        display: flow-root;
        box-sizing: content-box;
        max-width: 1366;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;
    }

    .upk-salf-slider-wrapper .upk-salf-nav-pag-wrap {
        top: 58px;
        z-index: -1;
    }

    p.para {

        padding-bottom: 0px;

        padding: 10px;

        text-align: justify;
    }

    h2 {
        font-size: 19px !important;
    }

    .padding-top-0 {
        padding-top: 0 !important
    }

    .margin-t-15 {
        margin-top: 15px !important;
    }

    .margin-t-0 {
        margin-top: 0 !important;
    }

    .margin-b-0 {
        margin-bottom: 0 !important
    }

    .servicebx {
        padding-bottom: 0;
    }

    .padding-t0 {
        padding-top: 0;
    }

    p.para {
        font-size: 16px !important;
    }

    .bottom-p {
        padding-bottom: 15px !important;
    }

    .mb-4 {
        margin-bottom: 15px !important;
    }

    .padding-t {
        padding-top: 15px !important
    }

    .grid-post {
        min-height: 227px;
    }

    .w-555 {
        clip-path: unset
    }

    .who-we-are-h {
        padding-top: 18px !important;
        margin-bottom: 0 !important;
    }

    .wwr-slider .swiper-slide {
        width: 50% !important;
    }

    .who-we-slider img {
        height: 100%;
    }

    .wg-box-content-image {
        width: 100%;
        border-radius: 15px;
    }

    .navbar-nav {
        display: none;
        position: absolute;
        padding-top: 100px !important;
        left: 0;
        right: 0;
        background: white;
        width: 100%;
        height: 1000vh;
        top: 0px;
        z-index: -1;
        bottom: 0;
    }

    .menu-show {
        display: block;
        width: 48px;
    }

    .c-none {
        display: none;
    }

    .trendbx>div {
        width: calc(33.33% - 10px);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        padding: 10px;
        padding-bottom: 30px;
    }

    ul.footer-nav {
        padding-left: 0;
    }

    .subs-img {
        display: none;
    }

    .footerbx>div {
        width: calc(33.33% - 30px);
        margin-top: 20px;
    }

    #mob-none {
        display: none;
    }

    h1 {
        font-size: 25px !important;
    }

    #mob-swiper {
        display: block !important;
        height: fit-content;
        margin-top: 50px;
    }

    .img-content h3 {
        font-size: 17px;
        margin-top: 20px;
    }

    #mob-swiper .mySwiper1 .swiper-wrapper .swiper-slide .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
        height: 250px;
        border-radius: 15px;
    }

    #mob-swiper .mySwiper1 .swiper-wrapper .swiper-slide {
        /* width: 83%!important; */
    }

    #mob-swiper .mySwiper1 .swiper-wrapper .swiper-slide .img1:before,
    .img2:before,
    .img3:before,
    .img4:before,
    .img5:before {
        border-radius: 15px;
    }

    #mob-swiper .mySwiper1 .swiper-wrapper .swiper-slide .img1:hover .img-content,
    .img2:hover .img-content,
    .img3:hover .img-content,
    .img4:hover .img-content,
    .img5:hover .img-content {
        height: 100%;
    }

    #e-services .swiper-wrapper .swiper-slide {
        border-radius: 30px;
    }

    #e-services .swiper-wrapper .swiper-slide .wg-box-content {
        border-radius: 30px;
        height: 190px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    p.para {

        padding-bottom: 20px;
    }

    .items2>div {}

    .items3>div {
        width: calc(50% - 0px);
    }

    .items2>div {
        width: calc(50% - 0px);
    }

    .mys .swiper-wrapper .swiper-slide {
        width: 19% !important;
    }

    .shapebx img {
        margin-bottom: 10px;
    }

    .bx4>div {
        width: 100%;
    }

    .overlay-img {
        position: absolute;
        left: 53px;
        width: 77%;
    }

    .wg-box-content-details h3 {

        font-size: 16px;

        width: fit-content;
    }

    h1.m-heading {
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .our-industry {

        padding-top: 20px;

        padding-bottom: 48px;
    }

    .w-heading {
        padding: 2px 31px;
        background: #ef611b;
        width: fit-content;
        text-align: center;
        font-weight: 400;
        color: white;
        padding-bottom: 10px;
        position: relative;
        font-size: 19px;
        margin: auto;
        border-radius: 50px;
    }

    .heading1 {
        font-size: 25px;
    }

    .sub-heading {

        font-size: 25px;

        text-align: center;
    }

    .sub-para {
        font-size: 17px !important;
        padding-top: 15px;
        text-align: center;
    }

    .subbx>div input {
        height: 45px;
        font-size: 17px;
    }


    .emailbox i {
        height: 45px;
        width: 68px;
        font-size: 20px;
    }

    .sub-btn {
        font-size: 16px;
        margin-left: 20px;
        width: 180px;
        padding: 0px 20px;
        height: 45px;
    }

    footer>div {
        width: 100%;
        text-align: center;
    }

    ul.footer-menu {
        justify-content: center;
    }

    ul.services-nav li a {
        font-size: 16px;

    }

    ul.footer-nav li a {
        font-size: 16px;

    }

    ul.digital-links li a {
        font-size: 16px;

    }

    .h3 {
        font-size: 18px;
        color: #fd6029;
    }

    .trendbx>div a {
        font-size: 19px;
    }

    .our-h {
        top: 10%;
        font-size: 35px !important;
    }

    .video-wrapper {
        width: 100%;
        height: auto;
    }

    .hero-section:before {
        height: 20px;
        width: 20px;
        left: calc(50% - 10px);
        bottom: -13px;
    }

    div#trending {
        background: #eeeeee;
        padding-bottom: 35px;
    }

    .sub-bx2>div {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    p {
        font-size: 16px !important;
        margin-bottom: 0;
    }

    .img-content p {}

    .font-size-40 {
        font-size: 1.5rem;
    }

    .servicebx>div {
        width: 100%;
    }

    .service-crausel .swiper .swiper-slide img {
        height: auto;
    }

    .servicebx {
        margin-top: 57px;
    }

    .service-crausel {
        margin-top: 50px;
    }

    .margin-top {
        margin-top: 10px !important;
        padding-bottom: 0 !important;
    }

    .v-para {
        padding-top: 10px;
        padding-bottom: 0px;
        text-align: justify;
        padding: 15px;
    }

    .padding-bottom {
        padding-bottom: 15px !important;
    }

    .digital-e {
        /* margin-top: 15px; */
    }

    .padding-top {
        padding-top: 15px !important;
    }

    .apply-now-bx {
        justify-content: flex-start;
        margin-bottom: 0px;
        margin-top: 15px;
    }

    .po-titles h2 {
        font-size: 22px;
    }

    .apply-now-btn {
        padding: 4px 15px;
        font-size: 14px;
    }

    .contact-usbx>div {
        width: 100%;
    }

    .contact-usbx {

        margin-bottom: 34px;
    }

    .blogbx>div {
        width: calc(50% - 10px);
        margin-top: 20px;
    }

    #exTab1 .tab-content {
        padding: 0;
    }

    #search-container>div {
        width: 100%;
    }

    .get-feature {
        width: 100%;
        margin-top: 20px;
    }

    .tab-head>div {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .filter-bx {
        width: 100%;
    }

    #exTab1 .nav li>a {

        font-size: 13px;
    }

    .exTab1 .nav {
        padding-left: 0;
    }

    .hero-section-2 {

        height: 43vh;
    }

    .section {
        /* padding-top: 174px; */
        padding-bottom: 0px;
    }

    .our-work-bx>div {
        width: calc(50% - 7px);
        height: 200px;
        margin-top: 15px;
    }

    #banking-finance #exTab1 .nav li>a {
        padding: 5px 8px;
        width: 100%;
        font-size: 15px;
        text-align: center;
        display: block;
    }

    #banking-finance .tab-head {
        overflow: auto;
    }

    .hero-img {
        width: 100%;
        height: auto;
        bottom: -7px;
    }

    .font-size-30 {
        font-size: 19px;
    }

    .t-list a {
        font-size: 22px;
    }

    #banking-finance .swiper-slide img {
        width: 100%;
        height: auto;
    }

    .menu-1>ul>li {
        display: block;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .dropdown:hover .dropdown-menus {
        background: white;
        opacity: 1;
        border-radius: 10px;
        box-shadow: none;
        visibility: visible;
        left: 0;
        position: relative;
        right: 0;
        width: 100%;
    }

    .sub-mega-menu li {
        margin-top: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }

    .sub-mega-menu li a {

        font-size: 16px;

        overflow: unset;

        font-weight: bold;
    }

    .dropdown:hover .dropdown-menus1 {

        position: relative;

        left: 0;

        right: 0;

        width: 100%;

        box-shadow: unset;
    }

    .w-555 {
        width: 100%;
    }

    .wg-box-fadeIn-bottom {

        top: 14% !important;

        left: 31% !important;
    }

    .social-media {
        background: #000000;
        margin-top: 20px;
        margin-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .significance-section1>div {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column;
    }

    .significance-section1 {

        padding-bottom: 30px;
    }



    .pt-15 {
        margin-bottom: 0px;
        padding-top: 16px !important;
        font-size: 22px !important;
        text-align: center;
    }

    .reporting .core-task-bx>div {

        height: 300px !important
    }
}

@media screen and (max-width:560px) {

    .left-items22 {
        padding: 15px;

    }

    .mob-none{
        display:none;
    }

    .unlock-section-bx h2 {
        margin-top: 30px;
    }

    .content-marketing .solid-left-itemsbxx {
        height: unset !important;
    }

    h2,
    h1,
    h3 {
        font-weight: bold;
    }

    .core-task-bx>div {

        height: 323px;
    }

    .hero-section-2 {
        height: 46vh;
    }


    .max-width600 {
        text-align: justify !important;
    }

    .heading-404 {
        font-size: 65px !important;
    }

    .ui-ux-bx4>div {
        width: 100%;
        margin-top: 15px;
        padding: 13px;
        flex-flow: column;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 0px;
        background: white;
        position: relative;
        background: white;
    }

    .pb-15 {
        padding-bottom: 15px !important;
    }

    .explore {
        margin-top: 28px;
        font-size: 17px;
    }

    .padding-top-20 {
        padding-top: 20px;
    }

    .margin-top-0 {
        margin-top: 0 !important
    }

    .padding-left-0 {
        padding-left: 0 !important;
    }

    div#our-specialization {
        margin-top: 47px;
    }

    h2.our-brands {
        font-size: 30px !important;
    }

    .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        height: fit-content;
        top: 33%;
        max-width: 50%;


    }

    .strip-section {

        margin-bottom: 30px;
        align-items: center;
        margin-top: 30px;
        height: 112px;
    }

    .upk-salf-slider-wrapper {

        padding: 0px;

    }

    .why-us-bx>div {
        width: 100%;
        margin-top: 150px;
    }

    .bx4>div {
        width: 100%;
        margin-top: 15px;
    }

    a.book-btn {
        padding: 4px 10px;
        font-size: 12px;
    }

    .get-freebx>div h2 {
        font-size: 19px !important;
        margin-bottom: 0;
    }

    .items3>div {
        width: 100%;
        margin-top: 15px;
    }

    .items2>div {
        width: 100%;
        margin-top: 15px;
    }

    .bx4>div h3 {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 400;
    }

    .our-industry {

        margin-top: 15px;

    }

    .heading1 {
        font-size: 29px;
    }

    .trendbx>div {
        width: 100%;
        border: 1px solid #ddd;
        margin-top: 15px;
    }

    .heading1 {
        margin-bottom: 0px;
        padding-top: 5px !important;
        font-size: 22px !important;
    }

    .trendbx>div h4 {
        padding-left: 10px;
        font-size: 16px;
        padding-top: 20px;
    }

    .trendbx>div a {
        font-size: 17px;
        padding-left: 10px;
    }

    .trendbx>div {
        padding-bottom: 20px;
    }

    .footerbx>div {
        width: 100%;
    }

    ul {
        padding-left: 0;
    }

    .h3 {
        padding-left: 0;
    }

    ul.footer-menu li a {
        font-size: 15px;
    }

    footer>div p {
        font-size: 14px;
    }

    ul.social-bx li a {
        font-size: 14px;
    }

    .f-heading {
        font-size: 17px;
    }

    .footer-logo img {
        width: 100px !important;
    }

    .sub-btn {
        font-size: 12px;
        margin-left: 7px;
        padding: 0px 5px;
        height: 38px;
        width: 100px;
    }

    .subbx>div input {
        height: 45px;
        font-size: 16px;
        padding-left: 57px;
    }

    .emailbox i {
        height: 43px;
        width: 45px;
        font-size: 20px;
    }

    .overlay-img {
        position: absolute;
        left: 35px;
        width: 88%;
    }

    .why-us-bx>div h1 {
        font-size: 20px;
        margin-left: 25px;
    }

    .whyimg {
        height: 30px;
        margin-top: 15px;
        margin-left: 60px;
    }

    .why-us-bx {
        padding-top: 0px;
        padding-bottom: 100px;
    }

    .mys .swiper-wrapper .swiper-slide {
        width: 30% !important;
    }

    .get-freebx>div {
        margin-top: 20px;
    }

    .logo img {
        width: 90px !important;
    }

    .menu-show {
        width: 28px;
    }

    .header-btn,
    .header-btn:hover,
    .header-btn:focus {
        background: #ff5e28;
        color: white !important;
        border-radius: 50px;
        padding: 2px 5px !important;
        align-items: center;
        box-shadow: 3px 5px 5px 0px #959595a8;
        display: flex;
        border: 3px solid white !important;
    }

    .our-h {
        font-size: 25px !important;
        position: relative;
        color: black;
        margin-bottom: 40px;
        z-index: 0;
        text-align: center;
    }

    .subs-img img {
        width: 100%;
    }

    .work-heading {
        padding: 6px 32px;
        font-size: 17px;
        z-index: 0;
    }

    .work-heading:before {
        height: 15px;
        width: 15px;
        left: 42%;
        bottom: -3px;
        z-index: -1;
    }

    ul.footer-menu li {
        margin: 0px 5px;
    }

    .wg-box-content-overlay {
        padding: 10px;
    }


    .wg-box-content-image {
        width: 100%;
    }

    #home .swiper {
        margin-right: auto;
        position: relative;
        list-style: none;
        padding: 0;
        height: 268px;
        /* margin-top: 30px; */
        z-index: 1;
        display: block;
    }

    #home .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        /* z-index: 100000; */
        top: 107% !important;
    }

    div#who-work {
        padding-bottom: 47px;
    }

    .sub-bx2 {
        padding: 10px;
    }

    .subbx {
        padding-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .sub-heading {

        text-align: center;
    }

    .btn-primary {
        padding: 0 5px;
        height: 33px;
        line-height: 33px;
        font-size: 14px;

    }

    .studies-btn img.arrow.arrow1.animate-right-to-left {
        max-width: 15px;
        margin-left: 5px;
        margin-top: -3px;
    }

    ul.social-bx1 li {
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul.social-bx1 li a {
        font-size: 16px;

    }

    ul.social-bx1 li a img {
        width: 30px;
        height: 28px;
        transition: .5s;
        margin-left: 2px;
        width: 29px;
        padding: 6px;
    }

    l.social-bx1 li a i {
        height: 40px;

        width: 40px;

    }

    .business-enquiry span {
        font-size: 16px;

    }


    .business-enquiry {

        top: 45%;

    }

    .shapbx {
        padding-bottom: 0px;
        margin-top: 4px;
    }

    .main-overlay-bx {
        position: relative;
        width: auto;
        border-radius: 15px;
    }

    .main-text {
        color: black;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }

    .wg-box-fadeIn-bottom {
        /* left: 50%; */
        /* top: 27px; */
        /* width: fit-content; */
        /* font-size: 14px!important; */
    }

    .our-clients {
        padding-top: 2px;
        padding-bottom: 60px;
    }

    .hero-section-2:after {
        display: none;
    }

    #marketings .make {
        background: #ffffff12;
        margin-top: 28px;
        margin-bottom: 96px;
    }

    .left-items11 p {
        font-size: 16px !important;
        text-align: justify;
    }

    .left-items11 {
        text-align: center;
        padding-top: 0;
        padding-bottom: 15px;
    }

    section.paid-media {
        background: #ffffff12;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .left-items11 h3 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 14px;
    }

    .margin-bottom-22 {
        margin-bottom: 22px;
    }

    .h2-h {
        color: #ef611b;
        margin-bottom: 18px;
        font-size: 19px !important;
    }

    .subbx .mdtop {
        margin-top: 25px;
    }

    .right-items1 {
        background: #ffffff;
        padding-left: 10px;
        width: 60%;
        padding-top: 0px;
    }

    .or {
        font-size: 17px;
        margin-top: 8px;
    }
    section.privacy-section h3 {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 0;


}

section.privacy-section ul {
    padding: 20px;
}
}

@media(max-width: 420px) {

    .wg-box-fadeIn-bottom {
        left: 38% !important;
    }

    .sub-para {
        font-size: 15px;
    }

    .sub-heading {
        font-size: 25px;
    }

    p.para {

        padding-bottom: 0px;
    }


}


@media(max-width:380px) {
    video {
        object-fit: cover;
        /* width: 100%; */
        top: 0;
        /* position: absolute; */
        height: 39vh;
        object-position: left;
    }

    .welcom-para {
        text-align: justify;
        padding-top: 15px;
    }

    @media(max-width: 350px) {
        .hero-section-2 {
            height: 38vh;
        }

        video {
            /* width: 100%; */
            /* position: absolute; */
            height: 31vh;
        }
    }
}