@media(max-width: 1540px) {
    .h-label {
        position: absolute;
        left: 71px;
        top: 172px;
        bottom: 17px;
        width: 50%
    }

    #why-us {
        overflow: hidden
    }

    .overlay-img {
        position: absolute;
        left: 23px;
        width: 100%
    }

    .container1 {
        max-width: 1200px;
        margin: auto
    }

    .specil-bx {
        padding-top: 16px;
        z-index: 1000;
        position: relative
    }
}

@media(max-width: 1440px) {

    .container,
    .container1,
    footer {
        max-width: 1280px
    }

    .bdt-timeline-container {
        max-width: 1300px
    }

    .h-label {
        position: absolute;
        left: 24px;
        top: unset;
        bottom: 0;
        width: 59%
    }

    .e-label,
    .p-label,
    .r-label {
        position: absolute;
        top: unset;
        bottom: 10px
    }

    .e-label {
        left: 14px;
        width: 44%
    }

    .p-label {
        left: 15px;
        height: unset
    }

    .r-label {
        left: 63px;
        width: 32%
    }

    .hero-content1 {
        padding: 20px;
        width: 62%
    }

    .contianer1 {
        max-width: 1100px
    }

    h2.our-brands {
        font-size: 60px !important
    }

    .hero-section-2 {
        background-position: center !important
    }
}

@media(max-width: 1250px) {

    .bdt-timeline-container,
    .container,
    .container1,
    footer {
        max-width: 1140px
    }

    .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
        top: 50% !important;
        left: 23px;
        max-width: 460px;
        padding-left: 30px !important
    }
}

@media(max-width: 1024px) {
    div#our-specialization {
        height: 59vh
    }

    .bdt-timeline-container,
    .container,
    .container1 {
        max-width: 900px
    }
}

@media(max-width: 980px) {

    #why-us,
    image {
        height: auto
    }

    .padding-top-0 {
        padding-top: 0
    }

    .tab-listbx {
        height: fit-content;
        padding: 0
    }

    image {
        max-width: 100%
    }

    .layer1>div {
        width: 100%;
        position: relative;
        padding-top: 30px
    }

    .navbar-nav a {
        padding: 23px 0 !important;
        line-height: 0;
        overflow: unset;
        font-size: 16px !important;
        font-weight: 700
    }

    .menu-show img {
        display: block !important;
        width: 40px
    }

    .specil-bx {
        padding-top: 14px;
        z-index: 0;
        padding-bottom: 16px
    }

    div#our-specialization {
        height: auto;
        margin-top: 100px
    }

    .get-freebx>div h2 {
        font-size: 22px
    }

    a.book-btn {
        padding: 5px 37px
    }

    .img-content {
        color: #fff;
        z-index: 1;
        padding-left: 9px;
        height: fit-content !important;
        position: absolute;
        bottom: 0;
        padding-bottom: 15px
    }

    h1.m-heading {
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px
    }

    .whyimg {
        height: 50px
    }

    .lst {
        margin-top: 100px
    }

    .container,
    .container1 {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media(max-width: 768px) {

    #exTab1 .our-work-tab .nav li a,
    .upk-salf-title {
        color: #fff !important
    }

    .mys .swiper-wrapper .swiper-slide img {
        width: 100%;
    }

    .wwr1-slider .swiper-slide {
        margin-top: 30px;
        width: 100% !important
    }

    #mob-none,
    .c-none,
    .design-mega-menu,
    .digital-mega-menu,
    .m-none,
    .mega-list li a i,
    .stick-img,
    .stick-img1,
    .strategy-mega-menu,
    .sub-dropdown-main,
    .subs-img,
    .swiper-button-next2,
    .swiper-button-prev2,
    .upk-salf-desc,
    .ux-section .swiper-button-next,
    .ux-section .swiper-button-prev,
    ul.inforgrahic-block li.bottom:after,
    ul.inforgrahic-block li.top:after {
        display: none
    }

    .industry-overlay a {
        font-size: 23px
    }

    #search-container>div,
    .bx4>div,
    .contact-usbx>div,
    .core-task-bx>div,
    .de-hero1>div,
    .filter-bx,
    .first-ui-bx,
    .servicebx>div,
    .signibx22>div,
    .slider-row-img img,
    .slider-row>div,
    .solid-social-bx5>div,
    .ssm-img,
    .sub-mega-menu,
    .unlock-section-bx1>div,
    .unlock-section-bx1>div img,
    .unlock-section-bx2>div,
    .upk-salf-image-wrap img,
    .w-350,
    .w-4s50,
    article.accordion,
    footer>div {
        width: 100%
    }

    .upk-salf-content-wrap {
        left: -10px;
        top: 8%;
        background: 0 0;
        backdrop-filter: none
    }

    .swiper-slide.upk-salf-item {
        width: 100%;
        margin-left: 0
    }

    #e-services {
        height: 150px !important
    }

    .bdt-timeline-container {
        padding: 0;
        z-index: -1;
        position: relative
    }

    .max-width100,
    .text-justi {
        text-align: justify !important
    }

    .list-styled {
        padding-left: 15px !important
    }

    .p-label {
        top: 0 !important
    }

    .e-commerce-img .f-label {
        position: inherit;
        left: unset;
        top: -68px;
        bottom: unset;
        margin: auto;
        width: 76%
    }

    .max-width800 .col-md-6,
    .mob-container,
    .padding-0,
    .r-img1,
    .unlock-section-bx .pl-4 {
        padding: 0 !important
    }

    .significance-section1>div img {
        width: 44px
    }

    .email-action .action-content {
        position: unset !important
    }

    #exTab1 .tab-content,
    .seo .container,
    .unlock-section-bx1 {
        padding: 0
    }

    .padding-t,
    .padding-top,
    .padding-top-m,
    .t-cbx {
        padding-top: 15px !important
    }

    .blogbx,
    p.para,
    section.significance-section {
        padding-bottom: 20px
    }

    #exTab1,
    #marketings {
        overflow: hidden
    }

    .header:hover .navbar .menu-1 .navbar-nav .nav-item .nav-link {
        color: #000 !important
    }

    #marketings .navbar-nav .nav-item>a {
        color: #000 !important;
        text-shadow: unset
    }

    header {
        background: 0 0;
        z-index: 10000;
        color: #000
    }

    video {
        object-fit: cover;
        width: 100%;
        height: 37vh;
        object-position: left
    }

    .welcom-para {
        font-size: 17px !important;
        font-weight: 700;
        text-align: justify;
        padding-top: 15px
    }

    .our-work-active .active {
        background: #f0621c !important;
        width: 100%;
        display: block;
        padding: 2px 10px !important;
        text-align: center
    }

    .action-content p b,
    .po-titles h2,
    .t-list a {
        font-size: 22px
    }

    .wwr-slider {
        margin-top: 35px !important
    }

    .industry-overlay {
        bottom: 50px !important;
        left: 15px;
        max-width: 300px
    }

    .reporting .core-task-bx>div,
    .upk-salf-slider-wrapper {
        height: 300px !important
    }

    .upk-salf-title {
        font-size: 20px !important
    }

    .link--arrowed,
    .sm-none {
        display: none !important
    }

    #mob-swiper,
    .desk-none {
        display: block !important
    }

    .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
        position: absolute;
        left: 5% !important;
        top: 10% !important;
        max-width: unset;
        overflow: hidden;
        background: 0 0;
        color: #fff !important;
        -webkit-backdrop-filter: unset;
        backdrop-filter: none;
        transition: none;
        padding: 20px
    }

    .upk-salf-slider-wrapper .upk-salf-item .upk-xanc-img {
        display: block;
        width: auto !important;
        height: auto;
        object-fit: cover !important
    }

    .business-enquiry {
        z-index: 3
    }

    .shapebx,
    .social-bx1 {
        z-index: 1
    }

    .studies-btn a {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        z-index: 1
    }

    .dropdown-menus {
        position: absolute;
        top: unset;
        width: 100%;
        right: unset
    }

    .mega-list {
        pointer-events: unset !important;
        position: relative;
        border-bottom: 1px solid #ddd
    }

    .after-nav::before,
    .mega-list::before {
        content: '';
        position: absolute;
        top: 50%;
        height: 10px;
        width: 10px;
        background: #000;
        right: 10px;
        clip-path: polygon(0 3%, 0 0, 100% 0, 100% 0, 50% 59%)
    }

    .dropdown-menus1>div {
        width: 100%;
        box-shadow: unset
    }

    .dropdown-menus1 {
        position: absolute;
        width: 100%;
        display: block;
        top: unset;
        left: unset;
        right: unset;
        padding: 0;
        flex-wrap: wrap;
        z-index: 100;
        background: #fff
    }

    .navbar {
        position: unset
    }

    .after-nav,
    .e-label,
    .h-label,
    .p-label,
    .r-label {
        position: relative
    }

    .inputtextarea {
        height: 150px
    }

    .contact-usbx .p-3 {
        padding: 10px !important
    }

    .margin-top-25 {
        margin-top: 25px !important
    }

    .checkbox-range {
        margin-left: 10px
    }

    .pr-range {
        margin-left: 5px;
        font-size: 15px;
        font-weight: 600
    }

    .contact-usbx h2 {
        font-size: 18px !important;
        padding-bottom: 16px;
        text-align: center
    }

    .hero-content1 p,
    .t-list p,
    .why-para,
    p.para {
        text-align: justify
    }

    .margin-top-30,
    .why-ui-ux {
        margin-top: 30px
    }

    #search-container,
    .choose-section,
    .under-r-content {
        padding-top: 15px
    }

    .positionbx {
        border-bottom: 2px solid #ddd;
        margin-top: 0
    }

    .our-work-bx,
    .significance-section1 {
        padding-bottom: 30px
    }

    #exTab1 .our-work-tab .nav {
        overflow: scroll;
        display: flex;
        width: 100%;
        align-items: center
    }

    #exTab1 .our-work-tab .nav li {
        margin: 10px 5px 0;
        padding: 3px;
        width: 100%;
        border-right: 1px solid #fff;
        background: #000;
        color: #fff
    }

    #what-we-do .col-md-6 img,
    .r-img1 img {
        border-width: unset !important;
        box-shadow: unset !important
    }

    .our-work-tab>div {
        margin: 0 !important
    }

    .bottom-0,
    .p-bottom-0 {
        padding-bottom: 0 !important
    }

    .p-label {
        left: unset;
        margin: auto;
        width: 100%;
        height: unset
    }

    .e-label {
        left: unset;
        top: -61px;
        bottom: unset;
        width: 100%
    }

    .r-label {
        left: unset;
        top: -8px;
        bottom: unset;
        margin: auto;
        width: 78%
    }

    .col-md-6.tab-listbx1 {
        padding: 20px
    }

    .left-items11,
    .signibx1,
    .sub-heading,
    .sub-para,
    .w-heading,
    footer>div {
        text-align: center
    }

    .h-label {
        left: 12%;
        top: 4px;
        bottom: unset;
        width: 103%
    }

    .it-section .b-label {
        position: relative;
        left: 13px;
        top: 0;
        height: auto;
        width: 91%
    }

    .hero-img2 {
        position: absolute;
        right: 0;
        width: 100%;
        height: unset;
        bottom: 0
    }

    .bottom-p,
    .padding-bottom,
    .padding-bottom-15 {
        padding-bottom: 15px !important
    }

    #banking-finance .swiper-pagination {
        left: 0 !important;
        bottom: 0 !important;
        top: unset !important
    }

    .shapebx img {
        margin-bottom: 10px;
        display: none;
    }

    .f-label {
        position: inherit;
        left: unset;
        top: 13px;
        bottom: unset;
        margin: auto;
        width: 77%
    }

    .hero-content,
    .hero-content1 {
        padding: 20px;
        width: 100%
    }

    .hero-img1 {
        width: 100%;
        height: unset
    }

    #banking-finance .hero-section-2 {
        min-height: 100vh;
        padding-bottom: 0
    }

    .t-list p {
        margin-top: 11px
    }

    #banking-finance .section {
        padding-top: 0;
        flex-wrap: wrap
    }

    .logo-bx-container,
    .main-logo-bx,
    .main-ui-bx,
    .signi-container,
    .signibx22,
    .slider-row,
    .ui-ux-sbx,
    .unlock-section-bx2 {
        flex-wrap: wrap
    }

    #exTab1 .nav li {
        margin: 0;
        padding: 2px;
        width: 100%
    }

    .b-label {
        position: relative;
        left: 48px;
        top: -98px;
        bottom: 10px;
        height: auto;
        width: 58%
    }

    .tab-head {
        padding-top: 5px
    }

    #exTab1 .nav {
        padding-left: 0;
        display: block
    }

    .banking-bx {
        margin-top: 0
    }

    section.logo-footer {
        margin-left: 15px;
        margin-right: 15px
    }

    .logo-bx-container>div,
    .ui-ux-sbx>div {
        width: 100%;
        padding-left: 0
    }

    #banking-finance .swiper-slide img,
    #brochure-design .our-methodology>div,
    .video-wrapper {
        width: 100%;
        height: auto
    }

    #mob-swiper,
    .ux-section {
        height: fit-content
    }

    .ux-section {
        position: relative;
        margin-bottom: 29px;
        background: #000;
        padding: 30px 0 25px
    }

    .slider-row-content {
        padding-top: 30px;
        padding-bottom: 24px
    }

    .footer-ux-con,
    .service-crausel .swiper .swiper-slide img {
        height: auto
    }

    .padding-t0,
    .slider-row {
        padding-top: 0
    }

    .explore-btn,
    .ui-conent .mdtop,
    .unlock2 {
        margin-top: 20px
    }

    .ui-ux-services {
        height: auto;
        padding-top: 20px;
        padding-bottom: 30px
    }

    .ui-conent {
        padding-top: 29px
    }

    .mt-reverse {
        margin: 0
    }

    .our-way-bx {
        flex-wrap: wrap;
        padding-top: 25px
    }

    .de-hero-content,
    .our-way {
        padding-top: 30px
    }

    .our-way-bx>div,
    .unlock-section-bx>div {
        width: 100%;
        margin-top: 15px
    }

    .our-way {
        margin-top: 0;
        padding-bottom: 40px
    }

    #design .our-methodology>div {
        width: 100%;
        height: fit-content !important
    }

    .de-hero1 {
        flex-wrap: wrap-reverse;
        margin-top: 20px
    }

    .de-hero-content .mdtop {
        margin-top: 27px !important
    }

    .design-hero {
        padding: 0;
        height: unset
    }

    .make-happen1 {
        padding-top: 40px;
        padding-bottom: 0;
        margin-top: 0 !important
    }

    .unlock-section {
        padding-bottom: 25px;
        padding-top: 2px;
        margin-bottom: 0
    }

    .explore-section {
        padding-top: 40px;
        margin-top: 25px;
        padding-bottom: 40px
    }

    .ssm-slider .swiper-slide,
    .unlock-section-bx2>div img,
    .unlock-section-bx>div img {
        width: 100% !important
    }

    .swiper-button-next1 img,
    .swiper-button-prev1 img {
        width: 35px
    }

    .unlock-section-bx {
        flex-wrap: wrap;
        padding: 0
    }

    .making-happen .action-content1 {
        height: 223px !important;
        top: 0
    }

    .slider-row-content p {
        padding: 0;
        margin-top: 0;
    }

    #marketings .section {
        height: 257px !important;
        z-index: 1;
    }

    .map {
        margin-top: 30px;
    }

    .margin-top-100 {
        margin-top: 103px
    }

    .action-content {
        left: 0;
        top: 0;
        position: unset
    }

    .seo {
        background: #ffffff12;
        margin-top: 25px;
        margin-bottom: 25px
    }

    .layer1,
    .social-bx5,
    .solid-social-bx5,
    .unlock-section-bx1 {
        display: flex;
        flex-wrap: wrap
    }

    .get-feature,
    .mob-img {
        width: 100%;
        margin-top: 20px
    }

    .seo-slider .swiper-slide {
        width: 100% !important;
        margin: 0 !important
    }

    .our-methodology>div {
        width: 100%;
        height: unset;
        margin-left: 0
    }

    .left-itemss {
        padding: 2px;
        margin-left: 0 !important
    }

    .signi-left-itemsbxx {
        height: unset;
        padding-bottom: 20px
    }

    .signibx2 {
        width: 100%;
        padding-top: 9px
    }

    .signibx1 {
        width: 100%;
        margin: 0 0 20px;
        height: unset;
        padding: 25px
    }

    #mob-swiper,
    .core-section1,
    .service-crausel {
        margin-top: 50px
    }

    .make-happen {
        padding-top: 30px;
        padding-bottom: 30px
    }

    .shape-img-bx img {
        width: 100% !important;
        margin-top: 15px
    }

    .solid-section {
        padding-bottom: 0;
        padding-top: 21px
    }

    .action-content1 {
        height: 225px;
        top: 0
    }

    .main-img,
    .main-info {
        top: unset;
        transform: translateY(0)
    }

    .action-slider .swiper-pagination {
        left: 0 !important;
        top: 109% !important
    }

    .prev-next {
        position: absolute;
        right: 10%;
        display: none;
        bottom: -24%
    }

    .left-slider {
        padding: 0;
        height: 214px;
        position: relative;
        margin-top: 20px;
        left: 0
    }

    .main-img,
    .main-info,
    .social-m-section {
        height: unset
    }

    .main-img,
    .navbar-nav,
    .overlay-img {
        position: absolute
    }

    .corecont {
        align-items: center;
        display: flex;
        flex-flow: column-reverse
    }

    .core-underbx>div h3 {
        font-size: 20px;
        max-width: unset;
        text-align: center;
        padding-top: 15px
    }

    article.accordion section:target {
        width: 100%;
        padding: 0;
        height: fit-content
    }

    .margin-t-15,
    .margin-top-15,
    .padding-top-15 {
        margin-top: 15px !important
    }

    .margin-bottom-15,
    .mb-4 {
        margin-bottom: 15px !important
    }

    section.paid-media {
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        margin-top: 0
    }

    .main-heading,
    .padding-top-0 {
        padding-top: 0 !important
    }

    #marketings .section {
        height: 291px !important;
        z-index: 1
    }

    #technology-consulting .swiper,
    .f-bx5 .left-itemsbxx {
        height: unset !important
    }

    .harnessing-section {
        padding-top: 20px;
        background: #fefff0;
        padding-bottom: 20px
    }

    .social-m-section .container {
        padding-left: 0;
        padding-right: 0
    }

    .main-info {
        right: unset
    }

    .main-img {
        left: 0
    }

    .tech-consulting ul.inforgrahic-block li.bottom>div {
        padding: 0 0 15px;
        margin-top: 0
    }

    .tech-swiper .tech-img img {
        margin-top: 15px;
        height: 200px
    }

    .agile,
    .section,
    .servicebx {
        padding-bottom: 0
    }

    ul.inforgrahic-block {
        flex-direction: row;
        flex-wrap: wrap
    }

    ul.inforgrahic-block li:nth-child(2n+2) {
        flex-direction: column;
        justify-content: center
    }

    .tech-consulting ul.inforgrahic-block li,
    ul.inforgrahic-block li {
        margin-bottom: 20px;
        flex: 0 0 100%
    }

    .tech-img img {
        margin-top: 15px;
        height: 256px
    }

    ul.cv-list {
        margin-top: 20px;
        padding-left: 15px
    }

    .line {
        margin-bottom: 15px
    }

    .margin-b-0,
    .who-we-are-h {
        margin-bottom: 0 !important
    }

    #technology-consulting .swiper-pagination {
        top: 84%;
        display: none;
    }

    .r-img1 img {
        width: 100% !important;
        float: right
    }

    .padding-left-0 {
        padding-left: 0 !important
    }

    div#subscribe {
        box-shadow: rgba(0, 0, 0, .35) 0 5px 15px
    }

    .padding-top-25 {
        padding-top: 25px !important
    }

    #what-we-do .col-md-6 img {
        padding: 0;
        height: auto
    }

    .m-block {
        display: block
    }

    .bdt-timeline-container {
        display: flow-root;
        box-sizing: content-box;
        max-width: 1366;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        overflow: hidden
    }

    .upk-salf-slider-wrapper .upk-salf-nav-pag-wrap {
        top: 58px;
        z-index: -1
    }

    p.para {
        padding: 10px;
        font-size: 16px !important
    }

    h2 {
        font-size: 19px !important
    }

    .margin-t-0 {
        margin-top: 0 !important
    }

    .grid-post {
        min-height: 227px
    }

    .who-we-are-h {
        padding-top: 18px !important
    }

    .wwr-slider .swiper-slide {
        width: 50% !important
    }

    #mob-swiper .mySwiper1 .swiper-wrapper .swiper-slide .img1:hover .img-content,
    .img2:hover .img-content,
    .img3:hover .img-content,
    .img4:hover .img-content,
    .img5:hover .img-content,
    .who-we-slider img {
        height: 100%
    }

    .wg-box-content-image {
        width: 100%;
        border-radius: 15px
    }

    .navbar-nav {
        display: none;
        padding-top: 100px !important;
        left: 0;
        right: 0;
        background: #fff;
        width: 100%;
        height: 1000vh;
        top: 0;
        z-index: -1;
        bottom: 0
    }

    .menu-show {
        display: block;
        width: 48px
    }

    .trendbx>div {
        width: calc(33.33% - 10px);
        box-shadow: rgba(50, 50, 93, .25) 0 50px 100px -20px, rgba(0, 0, 0, .3) 0 30px 60px -30px;
        padding: 10px 10px 30px
    }

    .exTab1 .nav,
    ul.footer-nav {
        padding-left: 0
    }

    .footerbx>div {
        width: calc(33.33% - 30px);
        margin-top: 20px
    }

    h1 {
        font-size: 25px !important
    }

    .img-content h3 {
        font-size: 17px;
        margin-top: 20px
    }

    #mob-swiper .mySwiper1 .swiper-wrapper .swiper-slide .img1,
    .img2,
    .img3,
    .img4,
    .img5 {
        height: 250px;
        border-radius: 15px
    }

    #mob-swiper .mySwiper1 .swiper-wrapper .swiper-slide .img1:before,
    .img2:before,
    .img3:before,
    .img4:before,
    .img5:before {
        border-radius: 15px
    }

    #e-services .swiper-wrapper .swiper-slide {
        border-radius: 30px
    }

    #e-services .swiper-wrapper .swiper-slide .wg-box-content {
        border-radius: 30px;
        height: 190px
    }

    .container,
    .menu-1>ul>li,
    .social-media {
        padding-left: 15px;
        padding-right: 15px
    }

    .items2>div,
    .items3>div {
        width: calc(50% - 0px)
    }

    .mys .swiper-wrapper .swiper-slide {
        width: 19% !important
    }

    .shapebx img {
        margin-bottom: 10px
    }

    .overlay-img {
        left: 53px;
        width: 77%
    }

    ul.social-bx {
        max-width: 104px;

    }

    .wg-box-content-details h3 {
        font-size: 14px;
        width: fit-content
    }

    h1.m-heading {
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px
    }

    .our-industry {
        padding-top: 20px;
        padding-bottom: 7px
    }

    .w-heading {
        padding: 2px 31px 10px;
        background: #ef611b;
        width: fit-content;
        font-weight: 400;
        color: #fff;
        position: relative;
        font-size: 19px;
        margin: auto;
        border-radius: 50px
    }

    .heading1,
    .sub-heading {
        font-size: 25px
    }

    .apply-now-bx,
    p {
        margin-bottom: 0
    }

    .sub-para {
        font-size: 17px !important;
        padding-top: 15px
    }

    .sub-btn,
    ul.digital-links li a,
    ul.footer-nav li a,
    ul.services-nav li a {
        font-size: 16px
    }

    .subbx>div input {
        height: 45px;
        font-size: 17px
    }

    .emailbox i {
        height: 45px;
        width: 68px;
        font-size: 20px
    }

    .sub-btn {
        margin-left: 20px;
        width: 180px;
        padding: 0 20px;
        height: 45px
    }

    ul.footer-menu {
        justify-content: center
    }

    .h3 {
        font-size: 18px;
        color: #fd6029
    }

    .font-size-30,
    .trendbx>div a {
        font-size: 19px
    }

    .our-h {
        top: 10%;
        font-size: 35px !important
    }

    .hero-section:before {
        height: 20px;
        width: 20px;
        left: calc(50% - 10px);
        bottom: -13px
    }

    div#trending {
        background: #eee;
        padding-bottom: 35px
    }

    .sub-bx2>div {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px
    }

    p {
        font-size: 16px !important
    }

    .font-size-40 {
        font-size: 1.5rem
    }

    .servicebx {
        margin-top: 57px
    }

    .margin-top {
        margin-top: 10px !important;
        padding-bottom: 0 !important
    }

    .v-para {
        text-align: justify;
        padding: 15px
    }

    .apply-now-bx {
        justify-content: flex-start;
        margin-top: 15px
    }

    .apply-now-btn {
        padding: 4px 15px;
        font-size: 14px
    }

    .contact-usbx {
        margin-bottom: 34px
    }

    .blogbx>div {
        width: calc(50% - 10px);
        margin-top: 20px
    }

    .tab-head>div {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px
    }

    #exTab1 .nav li>a {
        font-size: 13px
    }

    .hero-section-2 {
        height: 43vh
    }

    .our-work-bx>div {
        width: calc(50% - 7px);
        height: 200px;
        margin-top: 15px
    }

    #banking-finance #exTab1 .nav li>a {
        padding: 5px 8px;
        width: 100%;
        font-size: 15px;
        text-align: center;
        display: block
    }

    #banking-finance .tab-head {
        overflow: auto
    }

    .hero-img {
        width: 100%;
        height: auto;
        bottom: -7px
    }

    .menu-1>ul>li {
        display: block;
        box-shadow: rgba(0, 0, 0, .05) 0 0 0 1px
    }

    .dropdown:hover .dropdown-menus {
        background: #fff;
        opacity: 1;
        border-radius: 10px;
        box-shadow: none;
        visibility: visible;
        left: 0;
        position: relative;
        right: 0;
        width: 100%
    }

    .sub-mega-menu li {
        margin-top: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px
    }

    .sub-mega-menu li a {
        font-size: 16px;
        overflow: unset;
        font-weight: 700
    }

    .dropdown:hover .dropdown-menus1 {
        transition: unset;
        position: relative;
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: unset
    }

    .w-555 {
        clip-path: unset;
        width: 100%
    }

    .wg-box-fadeIn-bottom {
        top: 14% !important;
        left: 31% !important
    }

    .social-media {
        background: #000;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .significance-section1>div {
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-flow: column
    }

    .pt-15 {
        margin-bottom: 0;
        padding-top: 16px !important;
        font-size: 22px !important;
        text-align: center
    }
}

@media screen and (max-width: 560px) {

    .trendbx>div a,
    .trendbx>div h4 {
        padding-left: 10px
    }

    .main-text,
    h1,
    h2,
    h3 {
        font-weight: 700
    }

    .left-items22 {
        padding: 15px
    }

    .padding-top-20,
    .trendbx>div h4 {
        padding-top: 20px
    }

    .hero-section-2:after,
    .mob-none {
        display: none
    }

    .unlock-section-bx h2 {
        margin-top: 30px
    }

    .content-marketing .solid-left-itemsbxx {
        height: unset !important
    }

    .core-task-bx>div {
        height: auto;
    }

    .action-content {
        padding: 7px !important;
    }

    .core-task-bx,
    .pagination,
    p,
    ul.cv-list {
        /* margin-top: 20px; */
    }

    .hero-section-2 {
        height: 43vh
    }

    .max-width600 {
        text-align: justify !important
    }

    .left-items11,
    .main-text,
    .our-h,
    .sub-heading {
        text-align: center
    }

    .heading-404 {
        font-size: 65px !important
    }

    .ui-ux-bx4>div {
        width: 100%;
        margin-top: 15px;
        padding: 13px;
        flex-flow: column;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 0;
        background: #fff;
        position: relative
    }

    .pb-15 {
        padding-bottom: 15px !important
    }

    .explore {
        margin-top: 28px;
        font-size: 17px
    }

    .margin-top-0 {
        margin-top: 0 !important
    }

    .padding-left-0 {
        padding-left: 0 !important
    }

    div#our-specialization {
        margin-top: 47px
    }

    h2.our-brands {
        font-size: 30px !important
    }

    .upk-salf-slider-wrapper .upk-salf-item .upk-salf-content-wrap {
        position: absolute;
        left: 0;
        bottom: 0;
        height: fit-content;
        top: 33%;
        max-width: 50%
    }

    .strip-section {
        margin-bottom: 30px;
        align-items: center;
        margin-top: 30px;
        height: 112px
    }

    .upk-salf-slider-wrapper {
        padding: 0
    }

    .why-us-bx>div {
        width: 100%;
        margin-top: 150px
    }

    .our-industry,
    .trendbx>div,
    .whyimg {
        margin-top: 15px
    }

    .bx4>div,
    .items2>div,
    .items3>div {
        width: 100%;
        margin-top: 15px
    }

    a.book-btn {
        padding: 4px 10px;
        font-size: 12px
    }

    .get-freebx>div h2 {
        font-size: 19px !important;
        margin-bottom: 0
    }

    .bx4>div h3 {
        font-size: 18px;
        margin-bottom: 15px;
        font-weight: 400
    }

    .trendbx>div {
        width: 100%;
        border: 1px solid #ddd;
        padding-bottom: 20px
    }

    .heading1 {
        margin-bottom: 0;
        padding-top: 5px !important;
        font-size: 22px !important
    }

    .business-enquiry span,
    .trendbx>div h4,
    ul.social-bx1 li a {
        font-size: 16px
    }

    .f-heading,
    .trendbx>div a {
        font-size: 17px
    }

    .footerbx>div,
    .subs-img img,
    .wg-box-content-image {
        width: 100%
    }

    .h3,
    ul {
        padding-left: 0
    }

    ul.footer-menu li a {
        font-size: 15px
    }

    footer>div p,
    ul.social-bx li a {
        font-size: 14px
    }

    .footer-logo img {
        width: 100px !important
    }

    .sub-btn {
        font-size: 12px;
        margin-left: 7px;
        padding: 0 5px;
        height: 38px;
        width: 100px
    }

    .subbx>div input {
        height: 45px;
        font-size: 16px;
        padding-left: 57px
    }

    .emailbox i {
        height: 43px;
        width: 45px;
        font-size: 20px
    }

    .overlay-img {
        position: absolute;
        left: 35px;
        width: 88%
    }

    .why-us-bx>div h1 {
        font-size: 20px;
        margin-left: 25px
    }

    .whyimg {
        height: 30px;
        margin-left: 60px
    }

    .why-us-bx {
        padding-top: 0;
        padding-bottom: 100px
    }

    .mys .swiper-wrapper .swiper-slide {
        width: 30% !important
    }

    .get-freebx>div {
        margin-top: 0px
    }
    #trending .heading1{
        margin-top: 24px!important;
    }

    .logo img {
        width: 90px !important
    }

    .menu-show {
        width: 28px
    }

    .header-btn,
    .header-btn:focus,
    .header-btn:hover {
        background: #ff5e28;
        color: #fff !important;
        border-radius: 50px;
        padding: 2px 5px !important;
        align-items: center;
        box-shadow: 3px 5px 5px 0 #959595a8;
        display: flex;
        border: 3px solid #fff !important
    }

    .main-text,
    .our-h {
        color: #000
    }

    .our-h {
        font-size: 25px !important;
        position: relative;
        margin-bottom: 40px;
        z-index: 0
    }

    .work-heading {
        padding: 6px 32px;
        font-size: 17px;
        z-index: 0
    }

    .work-heading:before {
        height: 15px;
        width: 15px;
        left: 42%;
        bottom: -3px;
        z-index: -1
    }

    ul.footer-menu li {
        margin: 0 5px
    }

    .sub-bx2,
    .wg-box-content-overlay {
        padding: 10px
    }

    #home .swiper {
        margin-right: auto;
        position: relative;
        list-style: none;
        padding: 0;
        height: 268px;
        z-index: 1;
        display: block
    }

    #home .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: opacity .3s;
        transform: translate3d(0, 0, 0);
        top: 107% !important
    }

    div#who-work {
        padding-bottom: 47px
    }

    .subbx {
        padding-top: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center
    }

    .btn-primary {
        padding: 0 5px;
        height: 33px;
        line-height: 33px;
        font-size: 14px
    }

    .studies-btn img.arrow.arrow1.animate-right-to-left {
        max-width: 15px;
        margin-left: 5px;
        margin-top: -3px
    }

    ul.social-bx1 li {
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    ul.social-bx1 li a img {
        height: 28px;
        transition: .5s;
        margin-left: 2px;
        width: 29px;
        padding: 6px
    }

    l.social-bx1 li a i {
        height: 40px;
        width: 40px
    }

    .business-enquiry {
        top: 45%
    }

    .shapbx {
        padding-bottom: 0;
        margin-top: 4px
    }

    .main-overlay-bx {
        position: relative;
        width: auto;
        border-radius: 15px
    }

    .main-text {
        font-size: 18px
    }

    .our-clients {
        padding-top: 2px;
        padding-bottom: 40px
    }

    #marketings .make {
        background: #ffffff12;
        margin-top: 28px;
        margin-bottom: 96px
    }

    .font-size-40-important {
        font-size: 26px !important;
    }

    .left-items11 p {
        font-size: 16px !important;
        text-align: justify
    }

    .left-items11 {
        padding-top: 0;
        padding-bottom: 15px
    }

    section.paid-media {
        background: #ffffff12;
        margin-top: 50px;
        margin-bottom: 15px
    }

    .left-items11 h3 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 14px
    }

    .margin-bottom-22 {
        margin-bottom: 22px
    }

    .h2-h {
        color: #ef611b;
        margin-bottom: 18px;
        font-size: 19px !important
    }

    .subbx .mdtop {
        margin-top: 25px
    }

    .right-items1 {
        background: #fff;
        padding-left: 10px;
        width: 60%;
        padding-top: 0
    }

    .or {
        font-size: 17px;
        margin-top: 8px
    }

    section.privacy-section h3 {
        font-size: 20px;
        margin-top: 15px;
        margin-bottom: 0
    }

    section.privacy-section ul {
        padding: 20px
    }

    .postbox__content-thumb {
        flex-wrap: wrap;
    }

    .postbox__content-thumb img {
        width: 100%;
        margin-top: 15px;
    }

    .pb-100 {
        padding-bottom: 20px;
    }

    .pt-100 {
        padding-top: 20px;
    }

    .postbox__wrapper {
        padding-right: 0;
        ;
    }

    .postbox__title {
        font-size: 22px;

    }

    .tp-contact-form-input-box input {
        height: 40px;

    }

    .sidebar__search button {
        line-height: 40px;
        ;
    }

    .sidebar__widget {
        padding: 15px;
        background: #F4F6F8;
    }

    .sidebar__search input {
        height: 40px;
    }

    .mb-50 {
        margin-bottom: 20px;
    }

    .postbox__comment-form-title {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .postbox__comment-info {
        flex-wrap: wrap;
    }

    .postbox__comment-info>div {
        width: 100%;
    }

    .postbox__comment ul li.children {
        margin-left: 0;
    }

    .postbox__comment-name h5 {
        margin-top: 15px;
        ;
    }

    .mb-70 {
        margin-bottom: 20px;
    }

    .postbox__wrapper .postbox__content {
        padding-top: 20px;
    }

    .postbox__wrapper .postbox__text>p {
        padding-right: 0px;
        margin-bottom: 0px;
    }

    .postbox__comment-avater img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .postbox__author {
        padding: 25px 16px;
    }

    .postbox__comment-box {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    .postbox__details-share {
        text-align: left !important;
        padding-top: 20px;
        ;
    }

    .postbox__author-thumb {
        margin-bottom: 20px;
        ;
    }

    .viral-blog .title {
        font-size: 30px;

    }

    .viral-blog .sub-heading {

        font-size: 16px !important;
        margin-bottom: 0;
    }

    .tab-pane .site-heading {
        margin-bottom: 0px;
    }
}

@media(max-width: 420px) {
    .wg-box-fadeIn-bottom {
        left: 38% !important
    }

    .sub-para {
        font-size: 15px
    }

    .sub-heading {
        font-size: 25px
    }

    p.para {
        padding-bottom: 0
    }
}

@media(max-width: 380px) {
    video {
        object-fit: cover;
        top: 0;
        height: 39vh;
        object-position: left
    }

    .welcom-para {
        text-align: justify;
        padding-top: 15px
    }

    @media(max-width: 350px) {
        .hero-section-2 {
            height: 38vh
        }

        video {
            height: 31vh
        }
    }
}